<template>
  <div>
    <div style="font-size: 18px;">酸汤鱼财记</div>
    <div style="font-size:18px;margin:15px 0;color:red">就是好</div>
    <div style="font-size: 18px;">请给我100分</div>

  </div>
</template>

<script>

export default {
  name: 'ForumView',

}
</script>
