<template>
  <div>
    <div style="display: flex;">
      <div style="flex: 1; margin-top: 50px;">
        <div id="bie" style="width: 100%; height: 700px;"></div>
      </div>
      <div style="flex: 1; display: flex; flex-direction: column; justify-content: space-between;">
        <div style="width: 100%; margin-top: 50px;">
          <div id="bar" style="width: 100%; height: 300px;"></div>
        </div>
        <div style="width: 100%;margin-top:100px;">
          <div id="line" style="width: 100%; height: 300px;"></div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>
import * as echarts from "echarts";
import request from "@/utils/request";

export default {
  name: 'HomeView',
  data(){
    return{
      params:{
        uname: ''
      },
    }
  },
  mounted() {
    this.initEcharts();
  },
  created() {
    this.getUserInfo();
  },
  methods:{
    getUserInfo() {
      // 例如，从 localStorage 中获取用户信息
      const user = JSON.parse(localStorage.getItem("user"));
      if (user) {
        this.params.uname = user.name;
      }
    },
    initEcharts(){
      request.get("/bill1/echarts/bie",{
        params: this.params
      }).then(res =>{
        if(res.code === '0')
        {
          this.initBie(res.data);
        }else {
          this.$message.error(res.msg)
        }
      })
      request.get("/bill1/echarts/bar",{
        params: this.params
      }).then(res =>{
        if(res.code === '0')
        {
          let  map=res.data
          this.initBar(map.xAxis,map.yAxis,map.yAxis1);
          this.initLine(map.xAxis,map.yAxis,map.yAxis1);
        }else {
          this.$message.error(res.msg)
        }
      })
    },
    initBie(data){
      let chartDom = document.getElementById('bie');
      let myChart = echarts.init(chartDom);
      let option;

      option = {
        title: {
          text: '账本统计（饼图）',
          subtext: '统计类别：支出账本',
          left: 'center'
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          left: 'left'
        },
        series: [
          {
            // name: '账本金额',
            type: 'pie',
            radius: '50%',
            data: data,
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              }
            }
          }
        ]
      };

      option && myChart.setOption(option);

    },
    initBar(xAxis,yAxis,yAxis1){
      let chartDom = document.getElementById('bar');
      let myChart = echarts.init(chartDom);
      let option;

      option = {
        title: {
          text: '账本统计（柱状图）',
          subtext: '收入支出账本',
          left: 'center'
        },
        legend: {
          top: 10,
          left: 50
        },
        xAxis: {
          type: 'category',
          data: xAxis
        },
        yAxis: {
          type: 'value'
        },
        //提示框
        tooltip: {
          trigger: 'axis'
        },
        series: [
          {
            name: '支出账本',
            data: yAxis,
            type: 'bar'
          },
          {
            name: '收入账本',
            data: yAxis1,
            type: 'bar'
          }
        ]
      };

      option && myChart.setOption(option);
    },
    initLine(xAxis,yAxis,yAxis1){
      let chartDom = document.getElementById('line');
      let myChart = echarts.init(chartDom);
      let option;

      option = {
        title: {
          text: '账本统计（折线图）',
          subtext: '收入支出账本',
          left: 'center'
        },
        legend: {
          top: 10,
          left: 80
        },
        //提示框
        tooltip: {
          trigger: 'axis'
        },
        xAxis: {
          type: 'category',
          data: xAxis
        },
        yAxis: {
          type: 'value'
        },
        series: [
          {
            name: '支出账本',
            data: yAxis,
            type: 'line'
          },
          {
            name: '收入账本',
            data: yAxis1,
            type: 'line'
          }
        ]
      };

      option && myChart.setOption(option);
    }
  }

}
</script>
