<template>
  <div>
    <el-container>
      <el-header style="background-color: #13191c">
        <img src="@/assets/logo.png" alt="" style="width: 45px;  border-radius: 50%; position: relative; top: 10px;">
        <span style="font-size: 20px; margin-left: 15px; color: white">酸汤鱼财记</span>

        <el-dropdown style="float: right;height: 60px;line-height: 60px">
          <span class="el-dropdown-link" style="color: white;font-size: 16px">{{user.name}}<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item >
              <div @click="logout()">
                退出登录
              </div>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </el-header>
    </el-container>

    <el-container>
      <el-aside style="overflow: hidden; min-height: 100vh; background-color: #545c64; width: 250px">
        <el-menu :default-active="$route.path" router background-color="#545c64"
                 text-color="#fff" active-text-color="#ffd04b">
          <el-menu-item index="/">
            <i class="el-icon-s-home"></i>
            <span slot="title">系统首页</span>
          </el-menu-item>

          <el-menu-item index="/user">
            <i class="el-icon-user-solid"></i>
            <span slot="title">用户管理</span>
          </el-menu-item>

          <el-submenu index="/class">
            <template slot="title">
              <i class="el-icon-edit-outline"></i><span>账单数据管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/incomedata">收入数据管理</el-menu-item>
              <el-menu-item index="/payoutdata">支出数据管理</el-menu-item>
            </el-menu-item-group>
          </el-submenu>

          <el-submenu index="/manage">
            <template slot="title">
              <i class="el-icon-notebook-2"></i><span>账单管理</span>
            </template>
            <el-menu-item-group>
              <el-menu-item index="/income">收入管理</el-menu-item>
              <el-menu-item index="/payout">支出管理</el-menu-item>
            </el-menu-item-group>
          </el-submenu>

          <el-menu-item index="/forum">
            <i class="el-icon-s-promotion"></i>
            <span slot="title">论坛管理</span>
          </el-menu-item>

        </el-menu>
      </el-aside>
      <el-main>

        <router-view/>
      </el-main>
    </el-container>
  </div>
</template>

<script>
export default {
  name: "Layout",

  data(){
    return{
      user:localStorage.getItem("user") ? JSON.parse(localStorage.getItem("user")) : {}
    }
  },
  methods:{
    logout(){
      localStorage.removeItem("user");
      this.$router.push("/login")
    }
  }
}
</script>

<style>
.el-menu {
  border-right: none !important;
}
</style>