<template>
  <div class="login-container">
    <div class="login-form">
      <img class="logo" src="../assets/logo.png" alt="Logo">
      <h2>酸汤鱼财记</h2>
      <form @submit.prevent="login" :model="user">
        <div class="form-group">
          <label for="username">用户名:</label>
          <input v-model="user.name" type="text" id="username"  placeholder="请输入用户名" required>
        </div>
        <div class="form-group">
          <label for="password">密码:</label>
          <input type="password" id="password"  v-model="user.password" placeholder="请输入密码" required>
        </div>
        <div style="display: flex;">
          <button type="submit" style="border-radius: 17px;margin-left: 30px; width: 120px;" @click="register()">注册</button>
          <button type="submit" style="margin-left: 50px; border-radius: 17px; width: 120px;">登录</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>


import request from "@/utils/request";

export default {
  name:"Login",
  data() {
    return {
      user:{}
    }
  },
  created() {

  },
  methods:{
    register() {
      // 使用 $router.push() 方法跳转到注册页面
      this.$router.push('/register')
    },
    login(){
      request.post("/user/login",this.user).then(res =>{
        if(res.code === '0'){
          this.$message({
            message:'登录成功',
            type:'success'
          });
          localStorage.setItem("user",JSON.stringify(res.data));
          this.$router.push("/")
        }else{
          this.$message({
            message:res.msg,
            type:'error'
          });
        }
      })
    }
  }
}

</script>

<style scoped>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../assets/background.png');
  background-size: contain;
}




.login-form {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  display: block;
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 50%;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #181a18; /* 绿色 */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #008000; /* 绿色 */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005500; /* 深绿色 */
}
</style>