<template>
  <div>
    <div style="margin-bottom:15px">
      <el-input v-model="params.bookname" style="width: 200px" placeholder="请输入账本名"></el-input>
      <el-input v-model="params.billclassify"  style="width: 200px;margin-left: 10px" placeholder="请输入账单分类"></el-input>
      <el-button type="span" style="margin-left: 10px" @click="findBySearch()">查询</el-button>
      <el-button type="span" style="margin-left: 10px" @click="reset()">清空</el-button>
      <el-button type="primary" style="margin-left: 10px" @click="add()">新增</el-button>
    </div>

    <div>
      <el-table
          :data="tableData"
          style="width: 100%">
        <el-table-column prop="bookname" label="账本名"></el-table-column>
        <el-table-column prop="billclassify" label="账本类型"></el-table-column>
        <el-table-column prop="account" label="金额"></el-table-column>
        <el-table-column prop="notes" label="备注"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="primary" @click="edit(scope.row)">编辑</el-button>
            <el-popconfirm title="确定删除吗？" @confirm="del(scope.row.id)">
              <el-button slot="reference" type="danger" style="margin-left: 10px">删除</el-button>
            </el-popconfirm>
          </template>
        </el-table-column>
      </el-table>
    </div>
    <div style="margin-top:10px">
      <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :current-page="params.pageNum"
          :page-sizes="[5, 10, 15, 20]"
          :page-size="params.pageSize"
          layout="total, sizes, prev, pager, next, jumper"
          :total="total">
      </el-pagination>
    </div>
    <div>
      <el-dialog title="填写账单信息" :visible.sync="dialogFormVisible" width="30%">
        <el-form :model="form">
          <el-form-item label="账本名" :label-width="30">
            <el-input v-model="form.bookname" autocomplete="off" style="width: 80%;margin-left: 11px" ></el-input>
          </el-form-item>
          <el-form-item label="账本类型" :label-width="30">
            <el-input v-model="form.billclassify" autocomplete="off" style="width: 80%;"></el-input>
          </el-form-item>
          <el-form-item label="金额" :label-width="30">
            <el-input v-model="form.account" autocomplete="off" style="width: 80%;margin-left: 25px"></el-input>
          </el-form-item>
          <el-form-item label="备注" :label-width="30">
            <el-input v-model="form.notes" autocomplete="off" style="width: 80%;margin-left: 25px"></el-input>
          </el-form-item>


        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button type="primary" @click="submit()">确 定</el-button>
        </div>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import request from "@/utils/request";

export default {
  data() {
    return {
      params:{
        bookname:'',
        billclassify:'',
        pageNum:1,
        pageSize:5,
        uname: ''
      },
      tableData: [],
      total:0,
      dialogFormVisible:false,
      form:{}
    }
  },
  created() {
    this.findBySearch();
    this.getUserInfo();
  },
  methods:{
    getUserInfo() {
      // 例如，从 localStorage 中获取用户信息
      const user = JSON.parse(localStorage.getItem("user"));
      if (user) {
        this.params.uname = user.name;
      }
    },
    // methods里定义一个findBySearch
    findBySearch() {
      const user = JSON.parse(localStorage.getItem("user"));
      // 更新 params.uname
      if (user) {
        this.params.uname = user.name;
      }
      request.get("/bill1/search", {
        params: this.params
      }).then(res => {
        if (res.code === '0') {
          this.tableData = res.data.list;
          this.total = res.data.total;
        } else {
          this.$message({
            message: res.msg,
            type:'error'
          })
        }
      })
    },
    add(){
      this.form={};
      this.dialogFormVisible=true;
    },
    edit(obj){
      this.form=obj;
      this.dialogFormVisible=true;
    },
    reset(){
      this.params={
        bookname:'',
        billclassify:'',
        pageNum:1,
        pageSize:5,
        uname: this.params.uname
      }
      this.findBySearch();
    },
    handleSizeChange(pageSize) {
      this.params.pageSize=pageSize;
      this.findBySearch();
    },
    handleCurrentChange(pageNum) {
      this.params.pageNum=pageNum;
      this.findBySearch();
    },
    submit(){
      // 从 localStorage 中获取用户信息
      const user = JSON.parse(localStorage.getItem("user"));
      // 将用户信息添加到表单数据中
      this.form.uname = user.name;
      request.post( "/bill1",this.form).then(res => {
        if (res.code === '0') {
          this.$message({
            message:'操作成功',
            type:'success'
          });
          this.dialogFormVisible=false;
          this.findBySearch();
        } else {
          this.$message({
            message:res.msg,
            type:'error'
          })
        }
      })
    },
    del(id){
      request.delete("/bill1/"+id).then(res =>{
        if(res.code === '0'){
          this.$message({
            message:'删除成功',
            type:'success'
          })
          this.findBySearch();
        }else{
          this.$message({
            message:res.msg,
            type:'error'
          })
        }
      })
    },
  }
}

</script>